#map{
  height: 500px;
  width: 500px;
  
}

body {
    margin: 80px;
  /* background-color: #5F9EA0;*/

    background-repeat: no-repeat;
    color: #000;
    font-family: 'Nunito', Open Sans;
    font-size: 20px;
   float: left;
   text-align: center;
  }